<!DOCTYPE html>
<html>
<head>
	<title>Menu na vertical</title>
	
	<link rel="stylesheet" type="text/css" href="style.css" />
	
</head>
<body>

        <h1 style="text-align:center;">
        Área do Aluno </h1>

	<ul id="nav" >
	
		<li><a href="#">Secretária Online</a>
                     
			<li><a herf='#'>Notas e Faltas</a></li>
			<li><a herf='#'>Requerimentos</a></li>
			<li><a herf='#'>Calendário Geral</a></li>
			<li><a herf='#'>Horários</a></li>
			<li><a herf='#'>Documentos</a></li>
			<li><a herf='#'>Atualize seus Dados</a></li>
			
		</li> 
		<li><a href="#">Financeiro Online</a>

			<ul><a herf='#'>Financeiro</a></ul>
			<ul><a herf='#'>Documentos</a></ul>
		
		
		</li>

		<li><a href="#">Biblioteca</a>
		
			<ul>
				<li><a href="#">Acesso á Biblioteca</a></li>
				<li><a href="#">Regulamento</a></li>
				<li><a href="#">Pesquisas Acadêmicas</a></li>
			        <li><a href="#">Manual Acadêmicas</a></li>
				<li><a href="#">Modelo de capa do CD</a></li>
				
			
			</ul>
        
        </li>
        
        <li><a href="#">PAI</a>

		
			<ul>
				<li><a href="#">Regulamento PAI </a></li>
				
			</ul>
		
		</li>
		<li><a href="#">Atividades Complementares</a></li>
        <li><a href="#">Ouvidoria</a></li>
        <li><a href="#">Tutoriais</a></li>
        <li><a href="#">Contato dos Professores</a></li> 	
        <li><a href="#">Acesse Também</a>
                
        <ul>
            <li><a href="#">Bolsa de Estudos </a></li>
            <li><a href="#">Vagas para Estágio </a></li>
            <li><a href="#">OPES para os Cursos Superiores de Tecnologia </a></li>
            <li><a href="#">Qualidade de Software nas MPEs</a></li>
            <li><a href="#">Estágio Supervionado </a></li>
            <li><a href="#">Notícias para Aluno</a></li>
         
        </ul>
        </li>

    </ul>

</body>
</html>
