<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../statics/css/bootstrap.min.css">
        <script src="../statics/js/jquery-3.3.1.min.js"></script>
        <script src="../statics/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../statics/css/estilo.css">
        <link rel="stylesheet" href="../statics/css/cursos.css">
        <script src="../statics/js/bootstrap.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Sistemas da Informação</title>
        <title>Analise & Desenvolvimento</title>
</head>

<body>
    <header class="jumbotron-new">
        <nav class="container-fluid navbar navbar-inverse navbar-fixed-top ">
            <div class="container-fluid">
                <button type="button" class="navbar-toggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class=" navbar-brand" href="#"><span class="fire">FIRETEK</span> <span class="spc">- Graduação</span></a>
                <div class="container">
                    <div class="collapse navbar-collapse topnav">
                        <ul class="nav navbar-nav">
                            <li class="active dropdow">
                                <a class="dropdow-toggle" data-toggle="dropdow" href="cursos.html"><b>Cursos</b><span
                                        class="caret"></span></a>
                                <ul class="dropdow-menu ">
                                    <li><a href="curso1.html">Analise & desenvolvimento</a></li>
                                    <li><a href="curso2.html">Siatemas da Informação</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><b>Vestibular</b></a></li>
                            <li><a href="index.html"><b>A FIretek</b></a></li>
                            <li><a href="#ds"><b></b></a></li>
                            <li><a href="#dt"><b></b></a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><span class="ins">INSCREVA-SE</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <br>
    </header>

    <section class="margin-top-25">
        <div class="fig _title text-center section_title">
            <img class="img-fig" src=".././img/si.jpg" alt="">
            <div class="legenda">
                <h1 class="_title">Sistemas de informação</h1>
            </div>
        </div>

        <div class="container">
            <div class="col-md-8">
                <h2 class="title-c text-left section-title">O Curso</h2>
                <hr class="hr2">
                <br>
                <div class="quebra">
                    <p>A área de Análise e Desenvolvimento de Sistemas está entre as que mais contratam no
                    País.</p>
                    <p>Empresas públicas ou privadas sejam elas de TI, de telecomunicações, ou outros
                    segmentos,
                    são opções com oportunidades atraentes para este profissional.</p>
                    <p>Você pode atuar como Analista de Requisitos, Analista de Desenvolvimento, Analista de
                    Sistemas,
                    Analista de Negócio e Analista de Teste ou ainda desenvolver aplicativos para celular
                    ou jogos para computador.</p>
                </div>
            </div>
        

            <!--espaço entre as colunas sem bk-->
            <div class="col-md-2">

            </div>

            <div class="col-md-2">
                <div>
                    <h3 class="_title-2 section_title-shadow">Bacharelado</h3>
                    <p class="desc"><b>Periodo:</b></p>
                    <h5 class="_title-2 section_title-shadow">Matutino</h5>
                    <p class="desc"> 08:00 ás 11:40</p>
                    <h5 class="_title-2 section_title-shadow"><b>Por Apenas:</b></h5>
                    <p class="section_title section_title-shadow">R$ 582,00</p>
                    <h5 class="_title-2 section_title-shadow">Noturno</h5>
                    <p class="desc"> 19:00 ás 22:40</p>
                    <h5 class="_title-2 section_title-shadow"><b>Por Apenas:</b></h5>
                    <p class="section_title section_title-shadow">R$ 788,40</p> 
                    <h5 class="_title-2 section_title-shadow">Duração</h5>
                    <p class="desc"><b>8 Semestres</b></p>

                    <p></p>
                </div>
            </div>

            
            
            <!--espaço entre as colunas sem bk-->
            <div class="col-md-2">

            </div>
            
            <br>
        </div>
    </section>
    <div class="container">
        <div class="col-md-6">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">1º Semestre</a></li>
                <li><a data-toggle="tab" href="#menu1">2º Semestre</a></li>
                <li><a data-toggle="tab" href="#menu2">3º Semestre</a></li>
                <li><a data-toggle="tab" href="#menu3">4º Semestre</a></li>
                <li><a data-toggle="tab" href="#menu1">5º Semestre</a></li>
                <li><a data-toggle="tab" href="#menu2">6º Semestre</a></li>
                <li><a data-toggle="tab" href="#menu3">7º Semestre</a></li>
                <li><a data-toggle="tab" href="#menu3">8º Semestre</a></li>
            </ul>
    
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <table class='table'>
                        <thead >
                            <tr>
                                <th>1º Semestre</th>
                                <th>Carga Horaria</th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Comunicação e expressão </td>
                                <td>80 horas</td>
                            </tr>
                            <tr>
                                <td>Fundamentos de Banco de Dados</td>
                                <td>80 horas</td>
                            </tr>
                            <tr>
                                <td>Introdução a Internet das Coisas</td>
                                <td>80 horas</td>
                            </tr>
                            <tr>
                                <td>Linguaguem de Programação I</td>
                                <td>80 horas</td>
                            </tr>
                            <tr>
                                <td>Linguaguem de Programação </td>
                                <td>80 horas</td>
                            </tr>
                            <tr>
                                <td>Matemática aplicada</td>
                                <td>80 horas</td>
                            </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td>480 horas</td>
                        </tr>
                    </tfoot>
                
                </table>
            </div>
                <div id="menu1" class="tab-pane fade">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>2º Semestre</th>
                                <th>Carga Horaria</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ambiente de Desenvolvimento e Operação  </td>
                                <td>80 horas</td>
                            </tr>
                            <tr>
                                <td>Engenharia de Software</td>
                                <td>80 horas</td>
                            </tr>
                            <tr>
                                <td>Libras</td>
                                <td>40 horas</td>
                            </tr>
                            <tr>
                                <td>Linguagem SQL</td>
                                <td>80 horas</td>
                            </tr>
                            <tr>
                                <td>Linguaguem de Programação II</td>
                                <td>80 horas</td>
                            </tr>
                            <tr>
                                <td>Sociedade e Sustentabilidade</td>
                                <td>40 horas</td>
                            </tr>
                            <tr>
                                <td>Tecnologia Web</td>
                                <td>80 horas</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>Total</td>
                                <td>520 horas</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <table class="table  ">
                        <thead>
                            <tr>
                                <th>3º Semestre</th>
                                <th>Carga Horaria</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Análise e Projeto de Sistemas</td>
                                <td>100 horas</td>
                            </tr>
                            <tr>
                                <td>Banco de Dados</td>
                                <td>100 horas</td>
                            </tr>
                            <tr>
                                <td>Programação Web</td>
                                <td>100 horas</td>
                            </tr>
                            <tr>
                                <td>Segurança e Auditoria de Sistemas</td>
                                <td>100 horas</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>Total</td>
                                <td>400 horas</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div id="menu3" class="tab-pane fade">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>4º Semestre</th>
                                <th>Carga Horaria</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Legislação e Empreendoriso de Etica</td>
                                <td>100 horas</td>
                            </tr>
                            <tr>
                                <td>Redes</td>
                                <td>100 horas</td>
                            </tr>
                            <tr>
                                <td>Qualidade e Usuabilidade de Software</td>
                                <td>100 horas</td>
                            </tr>
                            <tr>
                                <td>Projeto de Desenvolvimento de sistemas</td>
                                <td>100 horas</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>Total</td>
                                <td>400 horas</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
         
<footer class="footer container-fluid">
    <section class="container">
        <div class="clear">
            <div class="ribbon"></div>
        </div>
        <h2><a class="fire" href="#">FIRETEK</a></h2>
        <div class="row">
            <section class="circle col-md-4">
                <h3 class="_title section_title-shadow margin-bottom-25">Siga-nos</h3>
                <hr>
                <ul class="inline">
                    <li><a class="" href="" title="FanPage Facebook" target="_blank">
                            <i style="font-size:24px" class="fire fa">&#xf082;</i></i></a></li>
                    <li><a class="icon-bg" href="https://www.instagram.com/facimpacta/" title="Instagram" target="_blank"><i
                                class=" fire fa fa-instagram" style="font-size:24px"></i></a></li>
                    <li><a class="icon-bg" href="https://www.linkedin.com/edu/faculdade-impacta-tecnologia-161006"
                            title="Linkedin" target="_blank"><i class="fire fa fa-linkedin" style="font-size:24px"></i></a></li>
                    <li><a class="icon-bg" href="https://twitter.com/facimpacta" title="Twitter" target="_blank"><i
                                class="fire fa fa-twitter" style="font-size:24px"></i></a></li>
                    <li><a class="icon-bg" href=" title=" Youtube" target="_blank"><i class="fire fa fa-youtube-play"
                                style="font-size:24px"></i></a></li>
                </ul>
                <p class="margin-top-50"></p>
                <p class="text-uppercase small">RUG7UP 2018.</p>
                <p class="small">Todos os direitos reservados.</p>
            </section>
            <section class="circle col-md-4">
                <h3 class="_title section_title-shadow margin-bottom-25">Contatos</h3>
                <hr>
                <ul class="ul-none">
                    <li><b>Comercial:</b></li>
                    <li>Tel: 11 3254-8300</li>
                    <li><b>Secretaria</b></li>
                    <li>Tel: 11 5593-5344</li><br>
                    <li>Unidade - Master II </li>
                    <li>Avenida Idaguera, 1521 - Itaquera</li>
                    <li>São Paulo / SP</li>
                </ul>
            </section>
            <section class="circle col-md-4">
                <h3 class="_title section_title-shadow margin-bottom-25">Atendimento</h3>
                <hr>
                <ul class="ul-none">
                    <li><b>Secretaria da Graduação</b></li>
                    <li>De segunda a sexta - das 9h às 21h</li>
                    <li>Sábado - das 9h às 13h</li><br>
                    <li><b>Secretaria de Pós-Graduação</b></li>
                    <li>De segunda a sexta - das 13h às 21h</li>
                    <li>Sábado - das 9h às 13h</li><br>
                    <li><b>Ouvidoria</b>
